<template name="widgets">
    <div class="module-small bg-dark">
        <div class="container">
            <div class="row">
                <!-- Widget 1  start -->
             <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">About Rival</h5>
                    <p>The languages only differ in their grammar, their pronunciation and their most common words.</p>
                    <p>Phone: +1 234 567 89 10<br>Fax: +1 234 567 89 10</p>
                    <p>Email: <a href="#">somecompany@example.com</a></p>
                </div>
            </div>
                <!-- Widget 1 end -->

                <!-- Widget 2 start -->
                <div class="col-sm-3">
                    <div class="widget">
                        <h5 class="widget-title font-alt">Recent Comments</h5>
                        <ul class="icon-list">
                            <li>Maria on <a href="#">Designer Desk Essentials</a></li>
                            <li>John on <a href="#">Realistic Business Card Mockup</a></li>
                            <li>Andy on <a href="#">Eco bag Mockup</a></li>
                            <li>Jack on <a href="#">Bottle Mockup</a></li>
                            <li>Mark on <a href="#">Our trip to the Alps</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Widget 2 end -->

                <!-- Widget 3 start -->
                <div class="col-sm-3">
                 <div class="widget">
                        <h5 class="widget-title font-alt">Categories</h5>
                        <ul class="icon-list">
                            <li><a href="#">Photography - 7</a></li>
                            <li><a href="#">Web Design - 3</a></li>
                            <li><a href="#">Illustration - 12</a></li>
                            <li><a href="#">Marketing - 1</a></li>
                            <li><a href="#">WordPress - 16</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Widget 3 end -->

                <!-- Widget 4 start -->
                <!-- Popular blog posts -->
                <div class="col-sm-3">
                    <div class="widget">
                        <h5 class="widget-title font-alt">Popular posts</h5>
                        <ul class="widget-posts">
                            {{#each posts}}
                                {{>widgetPosts}}
                            {{/each}}
                        </ul>
                    </div>
                 </div>
                <!-- Widget 4 end -->

            </div>
        </div>
    </div>
</template>